.whole {
  z-index: 20;
  position:absolute;
}
.modal_wrap {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  display:flex;
  justify-content: center;
  align-items: center;
}
.modal_close{
  position:absolute;
  right:10px;
  top:10px;
  padding-top:5px;
  box-sizing: border-box;
  cursor:pointer;
  color:white;
  z-index:30;
  font-size:2rem;
  line-height: 2rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  width:30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.modal {
  position:relative;
  width:85%;
  max-width: 400px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),
              0px 5px 8px 0px rgba(0,0,0,0.14),
              0px 1px 14px 0px rgba(0,0,0,0.12);
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  transition: all 480ms ease-in-out 2s;
  animation: fadeIn 400ms;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transition: scale(0.5);
  }
  to {
    opacity: 1;
    transition: scale(1);
  }
}

.modal_img {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
  width:100%;
  height:auto;
}

.modal_content{
  margin:auto;
  width:100%;
  padding:30px;
  box-sizing: border-box;
  color:rgb(34, 34, 34);
  background-color: #dce4fc;
  word-break: keep-all;
}
.modal_content h2{
  font-weight: 700;
  font-size: 2.1rem;
  margin-bottom:15px;
}


.modal_content li {
  margin-bottom:10px;
  font-weight: 300;
  font-size:1.7rem
}

.bold{
  font-weight:400;
}
.overview_loading{
  width:30%;
  height:30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.no_overview{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}