.plan_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top:20px;
}
.plan_wrap{
  width:100%;
  margin-bottom:10px;
}
.plan_date {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom:10px;
}

.plan_rep {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom:20px;
}
.plan_btn {
  border:2px solid rgb(243, 199, 199);
  border-radius: 10px;
  background-color: white;
  font-family: 'Dongle';
  font-size:1.5rem;
  width:90%;
  height:20%;
  cursor:pointer;
  
}