.recom_list_wrap{
  font-family:'Dongle';
  margin-top: 20px;
  margin-bottom: 20px;
}

.recom_title{
  font-weight:700;
  font-size: 1.8rem;
  margin-left: 10px;
  margin-bottom: 5px;
}
.mini_title {
  font-size: 1.2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:3px 10px 1px 5px;
  box-sizing:border-box;
  position:absolute;
  z-index:3;
  bottom:0;
  right:0;
  color:#222;
  font-weight:700;
  word-break: keep-all;
  line-height: 1.25;
  text-align: center;
  background-color: #f4f2ff;
  
}
.no_data{
  word-break: keep-all;
  font-size: 1.6rem;
  text-align:left;
  margin: 10px 0 10px 30px;
  font-weight:400;
  color: #5e79c4;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 0px;
  z-index: 3;
}



