.recom_list_wrap{
  font-family:'Dongle';
  margin-top: 20px;
  margin-bottom: 20px;
}

.recom_title{
  font-weight:700;
  font-size: 1.8rem;
  margin-left: 10px;
  margin-bottom: 5px;
}
.mini_title {
  opacity:0;
  font-size: 1.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  box-sizing:border-box;
  position:absolute;
  z-index:3;
  top:0;
  
  color:black;
  font-weight:300;
  transition: 300ms ease-in-out;
  word-break: keep-all;
  line-height: 1.5;
  text-align: center;
}
.mini_title:hover{
  opacity:1;
}


